*
{
    margin: 0;
    padding: 0;
}

nav
{
    background-color: black;
    height: 40px;
    color: white;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    
    
}
.brand img
{
    height: 40px;
    width: 40px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    
}

nav ul li{
    margin-right: 100px;
}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 13px auto;
    width: 70%;
    border-radius: 13px;
    padding: 30px;
    background-image: url(Backgroundcover.jpg) ;
    background-size: cover;
    text-align: center;
    
}
.Bottom
{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.icons
{
    margin-top: 10px;
}
.icons i{
    cursor :pointer;
}
#myProgressBar
{
    width: 80vw;
    cursor :pointer;
    
}

.songItemcontainer{
    margin-top: 50px;
}
.songItem{
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 12px 0;
    border-radius: 34px;

}
.songItem img{
    width: 30px;
    margin-left: 10px;
    
    
    
}
.timestamp{
    margin: 0 23px;

    
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    
}
/*.songInfo img{
    opacity: 0;
    transition:opacity 1s ease-in;
    
}*/